[submodule "dombraccia.github.io"]
	path = dombraccia.github.io
	url = git@github.com:dombraccia/dombraccia.github.io.git
[submodule "themes/Xmin"]
	path = themes/Xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
